.header-header {
  position: relative;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.header-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; /* Use gap for consistent spacing */
}
.header-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.header-textinput {
  width: 100%;
  flex-grow: 1;
  max-width: var(--dl-size-size-xxlarge);
  transition: 1s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.header-textinput:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.header-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.header-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.header-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.header-icons {
  display: flex;
}
.header-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.header-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.header-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: fixed; 
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  transform: translateX(-100%); 
  transition: transform 0.3s ease-in-out;
  transform: translate3d(0, 0, 0);
}
.header-mobile-menu.open { /* Style for when the menu is open */
  transform: translateX(0%);  /* Slide in */
  transform: translate3d(0, 0, 0);
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.header-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.header-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.header-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.header-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.header-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.header-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-link {
  display: flex; /* or inline-flex */ 
  align-items: center; /* Vertically align icon and text */
  gap: 0.5rem;      /* Add some spacing between icon and text */
}
@media(max-width: 991px) {
  .header-container {
    display: block;
  }
  .header-left {
    display: none;
  }
  .header-right {
    display: none;
  }
  .header-icons {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
}
@media(max-width: 768px) {
  .header-container {
    display: flex;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute; /* Ensure it covers the whole viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 1rem;
    transform: translateX(0%); /* Show the mobile menu */
    transition: transform 1s ease-in-out;
  }
  .header-close-mobile-menu {
    position: absolute; 
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .header-middle-mobile {
    flex-direction: column; 
    align-items: center;
    margin-top: 2rem; /* Add top margin for spacing */
  }
}

@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-container {
    display: flex;
  }
  .header-mobile-menu {
    padding: 16px;
  }
}
